*{
    box-sizing: border-box;
    background-color:"#fff";
}
.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin: 0 auto;
}
.right_container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

#board{
    display: grid;
    grid-template-columns:repeat(3,3fr);
    cursor:pointer;
    border: 0.15em solid rgb(58,58,60);
    margin-bottom:20px;
    margin-right:20px;
}
.big_square{
    border: 0.15em solid rgb(58,58,60);
    width: auto;
    height: auto;
    color:gainsboro;
    display:grid;
    grid-template-columns:repeat(3,3fr);
}
.small_square{
    border: 0.04em solid rgb(58,58,60);
    width:1.5em;
    height:1.5em;
    color:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2em;
}
.highlight{
    background-color:#2F4F4F;
    color: gainsboro;
}
.highlight2{
    background-color:#696969;
    color: gainsboro;
}
.filling_square{
    color:#3CB371;
}    
.time_count{
    display:flex;
    align-items:center;
    margin-bottom:2em;
    border: none;
}
#stop_count_up_timer{
    background-color:#2f4f4f;
    margin-left:10px;
    border: none;
    border-radius: 50%;
    height: 1.6em;
    width: 1.6em;
}
#stop_count_up_timer:hover{
    transform: scale(1.075);
}
.fa-solid, fa-pause, fa-play{
    background-color: #2f4f4f;
    color: #fff;
}
.new_game_button{
    background-color:#2F4F4F;
    color:#FFFFFF;
    border:none;
    font-size:3em;
    height:1.5em;
    border-radius:0.25em;
    grid-column: 1 / 3;
}
#keyboard{
    display:grid;
    grid-template-columns:repeat(3,3fr);
    grid-gap:5px;
    padding:5px;
    margin-top:20px;
    border: none;
}
.keyboard_button{
    background-color:#2F4F4F;
    color:#FFFFFF;
    border:none;
    font-size:3em;
    height:1.5em;
    width:1.5em;
    border-radius:0.25em;
}
.keyboard_button:hover, .new_game_button:hover{
    transform:scale(1.075);
}

@media screen and (max-width:675px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin: 0 auto;
    }
    #board {
        margin: 5px 0px 5px 0px;
    }
    .big_square{
        height:auto;
        width: auto;
    }
    .small_square{
        height:1.2em;
        width:1.2em;
    }
    .time_count{
        margin-bottom:1em;
    }
    .keyboard_button, .new_game_button{
        font-size:2.5em;
    }
}

