*{
    background-color:black;
    margin:0;
    padding:0;
}
.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.left_container{
    left:0;
    width:50%;
}
.right_container{
    right:0;
    width:50%;
}
@media screen and (max-width:850px){
    .left_container{
        width:100%;
    }
    .right_container{
        width:100%;
    }
    #keyboard{
        display:grid;
        background-color:#ff1877;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
.container h1{
    color:#fff;
}
.time_count{
    color:#fff;
}
.board_container{
    display:flex;
    justify-content:center;
    align-items:center;
}
#board{
    display:grid;
    grid-template-columns:repeat(3,3fr);
    cursor:pointer;
    /*border:3px solid rgb(58,58,60);*/
}
.big_square{
    border:3px solid rgb(58,58,60);
    width:150px;
    height:150px;
    color:gainsboro;
    display:grid;
    grid-template-columns:repeat(3,3fr);
    z-index:1;
}
.small_square{
    border:1px solid rgb(58,58,60);
    width:50px;
    height:50px;
    color:gainsboro;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:0;
    font-size:40px;
}
.highlight{
    background-color:#2F4F4F;
}
.highlight2{
    background-color:#708090;
}
.filling_square{
    color:#3CB371;
}    
#keyboard{
    display:grid;
    grid-template-columns:repeat(3,3fr);
}
